::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input[type=number] {
    width: 40px;
}

#newsite {
	width: 75%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.display >> table {
	width: 75%;
}

td, th {
	padding: 3px 5px;
}

#topBar {
	margin: 0px;
}

h1 {
	margin: 10px;
	font-size: 35px;
}

h1, 
#langPickerParent, #langPicker,
#colorPickerParent, #colorPicker,
#import, #export {
	display: inline;
}

#langPickerParent, #colorPickerParent,
#import, #export {
	margin-right: 5px;
	float: right;
	font-size: 15px;
}

#langPickerParent, #colorPickerParent {
	height: 35px;
	border: 2px solid black;
	padding: 2px;
}
#langPickerLabel, #colorPickerLabel {
	padding-bottom: 1px;
	margin-right: 2px;
}
#langPicker {
	margin-top: 10px;
}
#colorPicker {
	margin-top: 4px;
}

#import, #export {
	height: 43px;
}


#widgetsParent {
	margin-top: 50px;
	width: 99%;
}

.widget {
	margin: 5px;
	padding: 5px;
	
	border: 2px solid black;
}

#tester {
	max-width: 400px;
}
#testerinput1, #testerinput2 {
	margin-bottom: 5px;
	width: 96.8%;
}
#testerresult {
	font-weight: bold;
}
#testerbutton {
	width: 99%;
}

#personalMessage {
	width: 400px;
}
#personalMessage > p {
	font-size: 15px;
	text-indent: 2em;
}