*{
	background-color: gray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input[type=number]{
    width: 40px;
}

#newsite{
	width: 75%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.display >> table{
	width: 75%;
}

td, th{
	padding: 3px 5px;
}

h1, #import, #export{
	display: inline;
}

#import, #export{
	float: right;
}

#widgetsParent {
	margin-top: 50px;
	width: 99%;
}

#tester {
	margin: 5px;
	padding: 5px;
	max-width: 400px;
	border: 2px solid black;
}
#testerinput1, #testerinput2{
	margin-bottom: 5px;
	width: 96.8%;
}
#testerresult{
	width: 99%;
}

#personalMessage {
	margin: 5px;
	padding: 5px;
	
	border: 2px solid black;
	width: 400px;
}

#personalMessage > p {
	font-size: 15px;
	text-indent: 2em;
}