::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input[type=number] {
    width: 40px;
}

#newsite-ez, #newsite-regex {
	width: 75%;
}
#newsiteadd-ez, #newsiteadd-regex {
	cursor: pointer;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.display >> table {
	width: 75%;
}

td, th {
	padding: 3px 5px;
}

#topBar {
	margin: 0px;
}

h1 {
	margin: 10px;
	font-size: 35px;
}

h1, #settingsButton {
	display: inline;
}

#settingsButton {
	height: 43px;
	margin-top: 5px;
	margin-right: 5px;
	float: right;

	font-size: 20px;
	background: url('../images/cog.png') left center no-repeat;
	background-size: 30px;
	padding-left: 35px;	
	cursor: pointer;
}


#widgetsParent {
	margin-top: 50px;
	width: 99%;
}

.widget {
	margin: 5px;
	padding: 5px;

	border: 2px solid black;
}

#tester {
	margin-left: 20px;
	max-width: 400px;
}
#testertitle {
	font-size: medium;
}
#testerinput2 {
	margin-left: 20px;
	margin-bottom: 5px;
	width: 96.8%;
}
#testerresultdiv {
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
}
#testerbutton {
	width: 100px;
	margin-top: 5px;
	cursor: pointer;
}
#testerresult {
	font-weight: bold;
}

#personalMessage {
	width: 400px;
}
#personalMessage > p {
	font-size: 15px;
	text-indent: 2em;
}


#settingsChangeOverlay,
#recordEditOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: auto;
}

.settingsFullsizeParent {
	border: 2px solid black;
	padding: 5px;
	margin-top: 5px;
	
	font-size: 20px;
}
.settingsFullsizeParent > p {
	font-size: 12px;
}
#langPickerLabel,
#freqPickerLabel,
#colorPickerLabel{
	padding-bottom: 1px;
	margin-right: 2px;
}
#langPicker {
	margin-top: 10px;
	width: 100px;
	cursor: pointer;
}
#freqPicker {
	margin-top: 10px;
	width: 100px;
}
#colorPicker {
	margin-top: 4px;
	width: 100px;
	cursor: pointer;
}

#import, #export,
#settingsMenuOK, #settingsMenuCancel {
	height: 43px;	
	font-size: 20px;
	cursor: pointer;

	margin-top: 5px;
	width: 49%;
	min-width: 80px;
}

#export,
#settingsMenuCancel {
	float: right;
}

#settingsMenu {
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	max-width: 500px;
	width: 90%;
	margin: auto auto;
}




.editCell {
	padding: 0px;
}

.editButton {
	margin: 10%;
	width: 30px;
	height: 30px;
	background: url('../images/pencil.png') left center no-repeat;
	background-size: 25px;

	border-width: 0;
	cursor: pointer;
}

#recordChangeMenu {
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	max-width: 500px;
	width: 90%;
	margin: auto auto;
}

#patternInputParent,
#softLockHoursInputParent,
#hardLockHoursInputParent,
#timeoutsInputParent,
#destinationInputParent {
	border: 2px solid black;
	padding: 1%;
	margin-top: 5px;

	font-size: 20px;
}

#patternInput,
#softLockHoursInput,
#hardLockHoursInput,
#timeoutStringInput,
#destinationInput {
	width: 98%;
}

#timeoutsNATLabel,
#timeoutsNTOLabel,
#timeoutsSATLabel,
#timeoutsSTOLabel {
	font-size: 15px;
	float: left;
}

#timeoutsNATInput,
#timeoutsNTOInput,
#timeoutsSATInput,
#timeoutsSTOInput {
	font-size: 15px;
	float: right;
	text-align: right;
}

#destinationInput{
	width: 98%;
}
#actionInputCustomCodeArea{
	width: 98%;
	min-width: 98%;
	max-width: 98%;
}

#recordEditDuplicate, #recordEditDelete {
	margin-top: 5px;
	width: 100%;
	min-width: 150px;

	height: 43px;
	font-size: 20px;
	cursor: pointer;
}

#recordEditOK, #recordEditCancel {
	margin-top: 5px;
	width: 49%;
	min-width: 80px;

	height: 43px;
	font-size: 20px;
	cursor: pointer;
}

#recordEditCancel {
	float: right;
}
